<ion-header>
  <ion-toolbar color="primary">
      
      <ion-title class="ion-align-items-center">
        <div class="foo">
          <span class="letter" data-letter="A">A</span>
          <span class="letter" data-letter="L">L</span>
          <span class="letter" data-letter="A">A</span>
          <span class="letter" data-letter="M">M</span>
          <span class="letter" data-letter="B">B</span>
          <span class="letter" data-letter="A">A</span>

        </div>
   
      </ion-title>
      
      <div class="item thumb-right" > 
        <img src="../../assets/on.PNG" >
     </div>

      <ion-icon slot="end" style="zoom: 1.5;" name="log-out"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
                <ion-card>
                    <ion-card-content (click)="gotToCapteurs()">
                      <img src="../../assets/APPARTEMENT.png" alt="Appartements">
                    </ion-card-content>
                </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
      
          <ion-card>
            <ion-card-content>
              <img src="../../assets/HISTORIQUE.png" alt="Historiques">
            </ion-card-content>
        </ion-card>
         
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
            
          <ion-card>
            <ion-card-content>
              <img src="../../assets/SETTINGS.png" alt="Parametres">
            </ion-card-content>
        </ion-card>
              
        </ion-col>  
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
